.allcontent {
    width: 1024px;
    margin:auto;
}

:root {
    --dark-orange:#f97316;
    --light-orange:#ffedd5;


}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {

    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
}

.header__p {
    font-size: 20px;
    font-weight: 200;
    margin:40px 0;
}

.header__button {
    font-size: 22px;
    color: white;
    background-color:var(--dark-orange);
    padding:15px 30px;
    border-radius: 10px;
    box-shadow: none;
}

h2 {

    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.header-background {
    background-image: url("images/hero.jpg");
    background-size: cover;
    height: 800px;
      
}

.header {
    width: 1024px;
    margin:auto;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}




.logo {
    width: 100px;

}



 /* section 2 начните разговаривать */


 



.about{  
    width: 1024px;
    margin:auto;
    
}

.perks {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.perk {
    background-color: #d6d3d1;
    margin: 10px;
    padding: 20px;
    
    border-radius: 10px;
    text-align: center;
}

.perk__icons {
    background-color: var(--dark-orange);
    color:white;
    font-size: 24px;
    padding: 14px;
    border-radius: 5px;
    


}

h4{
    margin: 15px 0 ;
}

.description-picture {
    display: flex;
    justify-content: space-around;
    align-items: bottom;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 40px 0;
}

.speak-correctly {
    flex-basis: 50%;
    padding-bottom: 25px;
}

.about__image{
    max-width: 100%;
    flex-basis: 50%;
    width: 500px;
}


 /* section 3 запишитесь */

 .signup-background {
    background-color: var(--light-orange);


 }

 .signup {
    width: 1024px;
    margin:auto;
 }

p {
    padding: 10px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;


}

 /* section 4 отзывы */


 .reviews-background {

    background-color: #fafaf9;
 }

 .reviews {
    padding: 30px 0;
   

  }

.reviews__entries {
    width: 600px;
    margin: auto;
}



h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.reviews__entry{
    border-bottom-style: solid ;
    border-bottom-width: 1px;
    border-bottom-color: #d6d3d1;
    padding:24px 0;
}

.reviews__entry:last-child{
    margin-bottom: 55px;
}


 /* section 5 цены */




.pricing {
    width: 1024px;
    margin: auto;
    margin-bottom: 70px;
}

.pricing__plans{
    display: flex;
    justify-content: space-between;
}

.pricing__plan {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    flex-basis: 33%;
    margin: 20px;
    

    position: relative;

}

.plan__conditions{
    margin-bottom: 40px;
}

.pricing__button{
    position: absolute;
    bottom: 0;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    color: var(--dark-orange);
    font-size: 16px;
    background-color:var(--light-orange);
    display: block;
    width: 90%;
    box-shadow: none;
    border:none;
    
    
}


.pricing__p_orange {
    color: var(--dark-orange);
    font-weight: 400;
    font-size: 18px;
}

h5 {
    font-size: 24px;
    font-weight: 600;

}



.plan__conditions {
    font-size: 14px;
    line-height: 2;
    margin-top: 20px;

}


.footer-background {
    background-color: #d6d3d1;

}
footer {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: auto;

    padding: 40px;

}

.socials {
    font-size: 24px;
}

.phone {
    display: flex;
}